@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-family: "Noto Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100vw;
    height: 254px;
}
.top-nav{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-nav{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.text-nav{
    width: 80vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.languages{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.search-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}
input{
    width: 300px;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid white;
}
.search{
    color: white;
}
.language{
    color: white;
}
